<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="directivas-totales">Revisión de directivas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="empleados-directivaFor">Caso Empleados DirFor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tuberias">Revisión de Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="busqueda-platos-restaurante">Búsqueda de Platos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="form-template">Form Template-driven</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="form-model">Form Model-driven</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
