<div>
    <p>ngSwitch (Caso Examen)</p>
    <button class="btn btn-primary btn-sm me-2" (click)="continuarExamen()">Continuar con examenes</button>
    <button class="btn btn-warning btn-sm" (click)="reiniciarExamen()">Reiniciar</button>
    <div [ngSwitch]="examenCalificado">
      <div *ngSwitchCase="1" class="alert alert-primary border border-3 m-2">
        <p>Practica Calificada 1</p>
      </div>
      <div *ngSwitchCase="2" class="alert alert-danger border border-3 m-2">
        <p>Examen Parcial</p>
      </div>
      <div *ngSwitchCase="3" class="alert alert-info border border-3 m-2">
        <p>Examen Final</p>
      </div>
      <div *ngSwitchDefault class="alert alert-secondary border border-3 m-2">
        <p>Se culminó con las evaluaciones</p>
      </div>
    </div>
  </div>

  <hr/>

  <div>
    <p>Otro ejemplo ngSwitch usando ngFor</p>
    <button (click)="continuarEvaluaciones()" class="btn btn-info mb-3">Continua con las evaluaciones</button>
    <div [ngSwitch]="evaluacion">
      <div *ngFor="let evalua of evaluaciones">
        <div *ngSwitchCase="evalua.id" class="alert alert-primary">
          <p>Curso {{evalua.nombre}}</p>
          <p>Preg1.- {{evalua.preg1}}</p>
        </div>
      </div>
    </div>
  </div>
