<div class="container">
    <p class="lead fs-2 text-primary">Lista de productos {{productos.length}}</p>
    <div class="row border border-2 border-primary">
        <div class="col col-4" *ngFor="let producto of productos">
            <div class="card m-2">
                <div class="card-header shadow">
                    {{producto.nombre}}
                </div>
                <div class="card-body">
                    <img src={{producto.imagen}} alt="imagen" class="img-fluid" />
                </div>
                <div class="card-footer">
                    <p>Precio: {{producto.precio | currency:'PE '}}</p>
                    <button class="btn btn-primary btn-sm me-2" (click)="adiciona(producto)">Add</button>
                    <button class="btn btn-danger btn-sm me-2" (click)="decrementa(producto)">Dec</button>
                </div>
            </div>
        </div>
    </div>
</div>
