<div class="container">
  <div>
    <p class="lead fs-2 fw-bolder">Directiva Estructural (*ngFor)</p>
    <button (click)="mostrarEmpleados()" class="btn btn-info">Empleados</button>
  </div>

  <div *ngIf="muestraEmpleados">
    <div class="row">
      <div class="col col-2" *ngFor="let empleado of empleados">
        <div class="card m-2">
          <div class="card-header bg-primary text-white">
            Nombre: {{ empleado.name }}
          </div>
          <div class="card-body">Cargo: {{ empleado.cargo }}</div>
          <div
            class="card-footer"
            [ngStyle]="{
              'background-color': evaluaCalificacion(empleado.calificacion)
            }"
          >
            Calificacion: {{ empleado.calificacion }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <p class="lead fs-3">Muestra Empleados Calificacion Mayor 7</p>

  <div class="row">
    <div class="col col-6" *ngFor="let emp of empCalificaM7">
      <div class="card bg-warning text-white shadow border border-2 m-2">
        <div class="card-header">
          {{ emp.name }} Calificacion: {{ emp.calificacion }}
        </div>
      </div>
    </div>
  </div>

  <hr />

  <p class="lead fs-3">Muestra Empleados Maxima Calificacion</p>

  <div class="row">
    <div class="col col-6" *ngFor="let emp of empCalifMaxima">
      <div class="card bg-info text-white shadow border border-2 m-2">
        <div class="card-header">
          {{ emp.name }} Calificacion: {{ emp.calificacion }}
        </div>
      </div>
    </div>
  </div>
</div>
